/*nav*/
.topnav {
    margin: auto;
    background-color: #979797;
    max-height: 10%;
    overflow: hidden;
}

.topnav a {
    float: left;
    display: block;
    color: #000;
    text-align: center;
    padding: 12px 12px;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 16px;
    max-height: 22px;
}

.topnav a.hover, .active {
    background-color: #979797;
    height: max-content;
}

.topnav .icon {
    display: none;
}

#ghIcon, #liIcon{
    text-align:justify
}

.navLogo{
    height: 1em;
    display: inline-block;
}