body{
    background-color: antiquewhite;
}

img{
    border-style: groove;
    min-width: 300px;
}
body{
    display: flex;
    justify-content: center;
}
h2{
    text-align: center;
}
p{
    text-align: center;
}
input, button{
    border: none;
    outline: none;
    display: inline-block;
    height: 34px;
    justify-content: center;
    position: relative;
    box-sizing:border-box;
    padding:0 18px;
}








footer{
    position: absolute;
    text-align: center;
    margin-top: 20px;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px 0;
}