html, body{
    background-color: blanchedalmond;
}
img{
    border-style:groove;
    max-width: 450px;
}

body{
    display: flex;
    justify-content: center;
}

h1 {
    text-align: center;
}

input, button{
    border: none;
    outline: none;
    display: inline-block;
    height: 34px;
    justify-content: center;
    position: relative;
    box-sizing:border-box;
    padding:0 18px;
}

#output{
    text-align: center;
}
